langchain-text-splitters
langchain-community==0.0.34
langchain-chroma==0.1.0
streamlit==1.32.0
langchain==0.1.16
chromadb==0.4.24
sentence-transformers==2.6.1
transformers==4.37.2
torch
scikit-learn




